$white: #ffffff;
$text_dark: #2c2c2e;
$text_gray: rgb(178, 181, 188);
$buttonBg: #363c56;
$errorText: #f70d1a;
$buttonLinearBg: linear-gradient(to right, #1d2239, #4657a2, #1d2239);
$msgDisable: rgb(150, 150, 150);
$disabled: rgb(200, 200, 200);
$light_gray: rgb(241, 241, 241);
$unselectedText: rgb(80, 80, 80);
$locationBnt: rgb(255, 255, 0);
$spinner_blue: #3498db;

$bg_unselected: rgb(188, 188, 224);
$bg_selected: #559f5b;
$bg_pending: #ccb137;
$bg_frame: rgba(0, 0, 0, 0.6);

$shadow: #2c2c2e5e;
$light_shadow: rgba(49, 49, 52, 0.2);
$highlighter: #eeff6e;
$appt_bg: rgb(249, 249, 249);
$red_bg: #cb101a;

$notification_success: #4fae00;
$notification_warning: #e4dd00;
$notification_error: #be1000;
